{% extends '../_base.html' %}
{% load static %}
{% load humanize %}
{% block title %}{{ user_profile.user.first_name }}
{{ user_profile.user.last_name }} Profile {% endblock title %}

{% block content %}
<div class="main-content app-content">
    <div class="container-fluid">
        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
            <h1 class="page-title fw-semibold fs-18 mb-0">Welcome {{ request.user.first_name }}
                {{ request.user.last_name }}</h1>
            <div class="ms-md-1 ms-0">
                <nav>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'admin:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">User</li>
                        <li class="breadcrumb-item active" aria-current="page">{{ user_profile.user.first_name }}
                            {{ user_profile.user.last_name }}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <form id="formAccountSettings" method="post">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="d-flex align-items-start align-items-sm-center gap-4">
                                <a href="{{ user_profile.profile_img.url }}">
                                    <img src="{{ user_profile.profile_img.url }}" alt="Profile Image"
                                        class="d-block rounded" height="100" width="100" id="currentProfileImage" />
                                </a>
                            </div>
                        </div>
                        <hr class="my-0" />
                        <div class="card-body">
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="referralCode" class="form-label">Referral Code</label>
                                    <input class="form-control" type="text" id="referralCode" name="referralCode"
                                        value="{{ user_profile.referral_code }}" readonly />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="referred_by" class="form-label">Referred by</label>
                                    <input class="form-control" type="text" name="referred_by" id="referred_by"
                                        value="{% if user_profile.referred_by == None %}None{% else %}{{ user_profile.referred_by.username }}{% endif %}"
                                        readonly />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="referral_link" class="form-label">Referral Link</label>
                                    <input class="form-control" type="text" id="referral_link" name="referral_link"
                                        value="{{ user_profile.referral_link }}" readonly />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="address" class="form-label">address</label>
                                    <input class="form-control" type="address" id="address" name="address"
                                        value="{{ user_profile.address }}" readonly />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="country" class="form-label">country</label>
                                    <input class="form-control" type="country" id="country" name="country"
                                        value="{{ user_profile.country }}" readonly />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="state" class="form-label">state</label>
                                    <input class="form-control" type="state" id="state" name="state"
                                        value="{{ user_profile.state }}" readonly />
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="zipcode" class="form-label">Zip code</label>
                                    <input class="form-control" type="zipcode" id="zipcode" name="zipcode"
                                        value="{{ user_profile.zipcode }}" readonly />
                                </div>
                            </div>
                            <div class="mt-2">
                                <a href="{% url 'admin:user-profile-delete' user_profile.id %}"
                                    class="btn btn-outline-danger">delete</a>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}