{% extends 'user_admin/_base.html' %}
{% load static %}
{% load humanize %}
{% block title %}Transfers{% endblock title %}

{% block content %}
<div class="main-content app-content">
    <div class="container-fluid">
        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
            <h1 class="page-title fw-semibold fs-18 mb-0">Welcome {{ request.user.first_name }}
                {{ request.user.last_name }}</h1>
            <div class="ms-md-1 ms-0">
                <nav>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'admin:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Transfer</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Sender</th>
                            <th>Reciever</th>
                            <th>Amount</th>
                            <th>Transaction ID</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transfer in transfers %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'admin:transfer' transfer.id %}">{{ transfer.sender.first_name }}
                                    {{ transfer.sender.last_name }}</a></td>
                            <td>{{ transfer.receiver.first_name }} {{ transfer.receiver.last_name }}</td>
                            <td>
                                {{ transfer.amount|intcomma }}
                            </td>

                            <td>
                                {{ transfer.transaction_id }}
                            </td>

                            <td>{{ transfer.date_created }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}