{% extends 'partials/_base.html' %}
{% load static %}

{% block title %}Email Verification Sent{% endblock %}

{% block content %}
<div class="container-lg my-5">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8 col-sm-8 col-12">
            <div class="card custom-card">
                <div class="card-body p-5 text-center">
                    <img src="{% static 'img/check.png' %}" alt="" class="w-48 mb-3">
                    <p class="h5 fw-semibold mb-2 text-muted">
                        Congratulations, your password has been successfully reset!
                    </p>
                    <p class="mb-4 text-muted op-7 fw-normal">
                        You can now log in.
                    </p>
                    <a href="{% url 'auth:login' %}" class="btn btn-lg btn-primary">
                        Return to Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}