{% extends 'partials/_base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container-lg my-5">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8 col-sm-8 col-12">
            <div class="card custom-card">
                <form method="POST" class="card-body p-5">
                    {% csrf_token %}
                    <p class="h5 fw-semibold mb-2 text-center">Change Password</p>
                    <p class="mb-4 text-muted op-7 fw-normal text-center">
                        Congratulations, your email has been verified! You can now reset your password.
                    </p>

                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert
                        {% if 'error' in message.tags %} alert-danger
                        {% elif 'success' in message.tags %} alert-success
                        {% else %} alert-secondary {% endif %} alert-dismissible fade show" role="alert">
                        <strong>{{ message.tags|title }}:</strong> {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class="row gy-3">
                        <div class="col-xl-12">
                            <label for="id_new_password1" class="form-label text-default">New Password</label>
                            <input type="password" name="new_password1" id="id_new_password1" class="form-control"
                                required>
                        </div>

                        <div class="col-xl-12">
                            <label for="id_new_password2" class="form-label text-default">Confirm Password</label>
                            <input type="password" name="new_password2" id="id_new_password2" class="form-control"
                                required>
                        </div>
                    </div>

                    <div class="col-xl-12 d-grid mt-2">
                        <button type="submit" class="btn btn-lg btn-primary">
                            Proceed
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}