{% extends 'partials/_base.html' %}
{% load static %}

{% block title %}Check Your Inbox{% endblock %}

{% block content %}
<div class="container-lg my-5">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8 col-sm-8 col-12">
            <div class="card custom-card">
                <div class="card-body p-5 text-center">
                    <a href="{% url 'app:home' %}">
                        <img src="{% static 'img/images/logo.png' %}" alt="Logo" class="w-24 mb-3">
                    </a>
                    <h2 class="h5 fw-semibold mb-2">Check your inbox.</h2>
                    <p class="mb-4 text-muted op-7 fw-normal">
                        We've emailed you instructions for setting your password. You should receive the email shortly!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}