{% extends 'partials/_base.html' %}
{% load static %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container-lg my-5">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8 col-sm-8 col-12">
            <div class="card custom-card">
                <form method="POST" class="card-body p-5">
                    {% csrf_token %}
                    <p class="h5 fw-semibold mb-2 text-center">Forgot Password?</p>
                    <p class="mb-4 text-muted op-7 fw-normal text-center">
                        Enter your email address below, and we will send you instructions to reset it.
                    </p>

                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert
                        {% if 'error' in message.tags %} alert-danger
                        {% elif 'success' in message.tags %} alert-success
                        {% else %} alert-secondary {% endif %} alert-dismissible fade show" role="alert">
                        <strong>{{ message.tags|title }}:</strong> {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class="row gy-3">
                        <div class="col-xl-12">
                            <label for="email" class="form-label text-default">Email</label>
                            <input type="email" name="email" id="email" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-xl-12 d-grid mt-2">
                        <button type="submit" class="btn btn-lg btn-primary">
                            Proceed
                        </button>
                    </div>
                </form>
                <div class="text-center">
                    <p class="fs-12 text-muted">
                        Don't have an account?
                        <a href="{% url 'auth:signup' %}" class="text-primary">Sign Up</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}