{% load static %}

<footer class="site-footer">
    <a class="to-the-top" href="{% url 'app:home' %}#top-header" title="To the top"><em
            class="mdi mdi-chevron-double-up"></em><svg width="150" height="50" viewbox="0 0 39.687499 13.229167">
            <path
                d="M-.0035 296.999c9.007 0 11.8302-13.1833 19.8324-13.1852C27.8372 283.8118 30.636 297 39.683 297c9.047 0-48.6935-.001-39.6864-.001z"
                transform="translate(0,-283.77081)"></path>
        </svg></a>
    <div class="container">

        <div style="padding: 50px 0 10px 0; color: #878787; font-size: 12.5px;">
            <p>These offering materials may contain forward-looking statements and information relating to, among
                other things, the company, its business plan and strategy, and its industry. When used in the
                offering materials, the words “estimate,” “project,” “believe,” “anticipate,” “intend,” “expect” and
                similar expressions are intended to identify forward-looking statements. These statements reflect
                management's current views with respect to future events and are subject to risks and uncertainties
                that could cause the company's actual results to differ materially from those contained in the
                forward-looking statements. Actual results and trends in the future may differ materially from those
                suggested or implied by any forward-looking statements depending on a variety of factors. All
                written and oral forward-looking statements attributable to us or persons acting on our behalf are
                expressly qualified in their entirety by the previous statements. Investors are cautioned not to
                place undue reliance on these forward-looking statements, which speak only as of the date on which
                they are made. Except for any obligations to disclose information as required by applicable laws, we
                undertake no obligation to update any information contained above or to publicly release the results
                of any revisions to any statements that may be made to reflect events or circumstances that occur,
                or that we become aware of, after the date of the publishing of the above.</p>

            <p>Investors should always conduct their own due diligence, not rely on the financial assumptions or
                estimates displayed herein, and should always consult with a reputable financial advisor, attorney,
                accountant, and any other professional that can help them to understand and assess the risks
                associated with any investment opportunity. Any investment involves substantial risks. Major risks,
                including those related to the potential loss of some or all principal, are disclosed in the private
                placement memorandum or offering circular for each applicable investment.</p>

            <p>Investors in these offerings will be clients of the issuer and not Dalmore Group, (“Dalmore”), a
                registered broker-dealer and member FINRA/SIPC. Dalmore’s role in the transaction is to facilitate
                back office and regulatory functions related to the Regulation A transaction and acts only as the
                broker/dealer of record for the Regulation A and Regulation D offerings listed. Dalmore is not
                providing investment advice or recommendations, or legal or tax advice. You can review the
                background of our broker-dealer and our investment professionals on FINRA’s BrokerCheck</p>

            <p>Options Trades Hub, (the “Company”) and certain of its subsidiaries are engaged in
                offerings under Regulation D and Regulation A under the Securities Act of 1933, as amended. Each
                Regulation A offering is made solely by an offering statement on Form 1-A qualified by the SEC. SEC
                qualification of an offering statement does not mean that the SEC has approved, passed upon the
                merits, or passed upon the accuracy or completeness in the offering statement. Qualification only
                means that the applicable issuer of securities may make sales of the securities described in the
                offering statement.</p>

            <p>The most recent offering circular and related supplements (collectively, an “Offering Circular”) of
                the Company and/or any of its subsidiaries currently engaged in an offering under Regulation A may
                be found HERE.</p>

            <p>Regulation D Offerings are open to ACCREDITED INVESTORS ONLY. Natural person accredited investors
                are deﬁned as having a net worth over $1 million, excluding primary residence, or income over
                $200,000 (individually) or $300,000 (with spouse/partner) in each of the prior two years, and
                reasonably expect the same for the current year. Any non-natural person seeking to invest under
                Regulation D should review the relevant definitions of accredited investor set forth in the Private
                Placement Memorandum for a particular Regulation D offering to determine if such non-natural person
                is an accredited investor. Prior to investing in a Regulation D offering of the Company or any of
                its subsidiaries, a prospective investor must read the relevant Private Placement Memorandum.</p>

            <p>The most recent Private Placement Memorandum, together with all supplements thereto, of the Company
                and/or any of its subsidiaries currently engaged in an offering under Regulation D may be found
                HERE.</p>

            <p>The material set forth hereon does not constitute an offer to sell nor a solicitation of an offer to
                buy any security. Any such offer may be made only by the applicable Offering Circular or Private
                Placement Memorandum.</p>

        </div>
        <hr>
        <style>
            .arrange {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                justify-content: space-between;
                padding: 30px 0;
                gap: 30px;
            }

            .putcenter {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin: 0 auto;
                justify-content: center;

            }

            .putend {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .putcenter a {
                text-decoration: none;
                color: #fff;
            }

            @media screen and (min-width: 580px) {
                .arrange {
                    grid-template-columns: repeat(3, 1fr);
                    justify-content: space-between;
                }

                .putend {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
            }
        </style>

        <aside class="arrange">
            <div class="site-footer-credits">
                <img src="{% static 'img/images/logo-light.png' %}" class="putcenter" width="250" />
            </div>
            <nav class="putcenter">
                <a href="{% url 'app:home' %}">Home</a>
                <a href="{% url 'app:about' %}">Our Company</a>
                <a href="{% url 'app:team' %}">Our Team</a>
                <a href="{% url 'app:faqs' %}">FAQ</a>
                <a href="{% url 'app:contact' %}">Contact</a>
            </nav>
            <div class="site-footer-cookies putcenter">
                <img src="{% static 'img/images/bbb.png' %}" width="100" style="padding-bottom: 10px;" />
                <img src="{% static 'img/images/trustpilot.png' %}" width="100" style="padding-bottom: 10px;" />
            </div>
        </aside>
        <center>
            Copyright &copy; Options Trades Hub<br>All rights reserved. | <a href="{% url 'app:privacy' %}" class="text-warning">Privacy
                Policy</a>
            <br><br>Choose Language
            <div class="icon-before">
                <div class="icon-bar">
                    <img src="{% static 'img/flag.png' %}" alt="Language flag" />
                    <div id="google_translate_element"></div>
                </div>
            </div>
        </center>
        <br>
    </div>
</footer>

<script>
    const subscribeToNewsLetterForm = document.getElementById("subscribeToNewsLetterForm");
    let submitBtn = document.getElementById("submitBtn");

    subscribeToNewsLetterForm.addEventListener("submit", async function (event) {
        event.preventDefault();

        submitBtn.textContent = ""
        submitBtn.innerHTML = `<span><i class="fa fa-spinner"></i></span>`

        const formData = new FormData(this);
        formData['email'] = document.getElementById('newsLetterEmail').value

        const response = await fetch("{% url 'app:handle_subscribe_newsletter' %}", {
            method: 'POST',
            body: formData
        });

        const data = await response.json();

        if (data.status == 'success') {
            submitBtn.innerHTML = "";
            submitBtn.textContent = "Subscribed"

            setTimeout(() => {
                submitBtn.textContent = "SignUp"
            }, 2000)
        } else {
            submitBtn.innerHTML = "";
            submitBtn.textContent = "Not subscribed"

            setTimeout(() => {
                submitBtn.textContent = "SignUp"
            }, 2000)
        }

    })
</script>