<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Options Trades Hub | {% block title %}{% endblock title %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link id="style" href="{% static 'assets/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/node-waves/waves.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/lib/choices.js/public/assets/styles/choices.min.css' %}" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.bootstrap5.min.css" />
    <link rel="stylesheet" href="https://php.spruko.com/ynex/ynex/assets/libs/apexcharts/apexcharts.css" />
    <link href="{% static 'assets/fontawesome/css/all.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />
    <!-- <link href="{% static 'user_admin/css/style.css' %}" rel="stylesheet"> -->
    <link href="{% static 'css/styles2.css' %}" rel="stylesheet">

</head>

<body>
    <div class="page">
        <header class="app-header">
            <div class="main-header-container container-fluid">
                <div class="header-content-left">
                    <div class="header-element">
                        <a aria-label="Hide Sidebar"
                            class="sidemenu-toggle header-link animated-arrow hor-toggle horizontal-navtoggle"
                            data-bs-toggle="sidebar" href="javascript:void(0);"><span></span></a>
                    </div>

                </div>

                <div class="header-content-right">

                    <div class="header-element">
                        <a href="javascript:void(0);" class="header-link dropdown-toggle" id="mainHeaderProfile"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                            <div class="d-flex align-items-center">
                                <div class="me-sm-2 me-0">
                                    <img src="{% static 'img/images/user.jpg' %}" alt="img" width="32" height="32"
                                        class="rounded-circle">
                                </div>
                                <div class="d-sm-block d-none">
                                    <p class="fw-semibold mb-0 lh-1">admin</p>
                                    <span class="op-7 fw-normal text-success d-block fs-11">Active</span>
                                </div>
                            </div>
                        </a>
                        <ul class="main-header-dropdown dropdown-menu pt-0 overflow-hidden header-profile-dropdown dropdown-menu-end"
                            aria-labelledby="mainHeaderProfile">
                            <li><a class="dropdown-item d-flex border-block-end" href="javascript:void(0);"><i
                                        class="ti ti-wallet fs-18 me-2 op-7"></i>Bal:
                                    ${{ total_balance_admin|intcomma }}</a></li>
                            <li><a class="dropdown-item d-flex" href="{% url 'admin:notifications-list' %}"><i
                                        class="ti ti-bell fs-18 me-2 op-7"></i>Notification</a></li>
                            <li class="slide">
                                <form action="{% url 'auth:logout' %}" method="POST" class="dropdown-item d-flex">
                                    {% csrf_token %}
                                    <button type="submit" class="btn block w-100 side-menu__item"
                                        style="padding: 0; border: none; background: none; cursor: pointer;">
                                        <i class="ti ti-logout fs-18 me-2 op-7"></i></i>
                                        Logout
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </header>

        {% include './_sidebar.html' %}

        {% block content %}
        {% endblock content %}
    </div>

    <script src="{% static 'assets/lib/@popperjs/core/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/defaultmenu.min.js' %}"></script>
    <script src="{% static 'assets/lib/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'js/sticky.js' %}"></script>
    <script src="{% static 'assets/lib/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'js/simplebar.js' %}"></script>
    <script src="{% static 'assets/lib/@simonwep/pickr/pickr.es5.min.js' %}"></script>
    <script src="{% static 'assets/lib/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'js/crypto-dashboard.js' %}"></script>
    <script src="{% static 'js/custom-switcher.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'assets/lib/choices.js/public/assets/scripts/choices.min.js' %}"></script>
    <script src="{% static 'js/main2.js' %}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggleButton = document.querySelector(".sidemenu-toggle");
            const sidebar = document.querySelector("#sidebar");

            if (toggleButton && sidebar) {
                toggleButton.addEventListener("click", function () {
                    sidebar.classList.toggle("show");
                });
            }
        });

    </script>
</body>

</html>