{% extends './_base.html' %}
{% load static %}

{% block title %}Send Email to Users{% endblock title %}

{% block content %}
<div class="main-content app-content">
    <div class="container-fluid">

        <!-- Page Header -->
        <div class="d-md-flex d-block my-4 page-header-breadcrumb">
        </div>
        <!-- Page Header Close -->

        <div class="row mb-5">
            <div class="col-xl-12">
                <h5 class="fw-semibold text-center">Send Email to All Users</h5>
                <p class="text-muted text-center col-lg-6 offset-lg-3 pb-3">
                    Use this form to send an email to all registered users on the platform. Admin users will not receive
                    this email.
                </p>
            </div>

            <div class="col-xl-6 offset-xl-3">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="tab-content">

                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} text-center">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}

                            <form method="post">
                                {% csrf_token %}

                                <div class="input-group mb-3 d-flex flex-nowrap">
                                    <span class="input-group-text">Subject</span>
                                    {{ form.subject }}
                                </div>

                                <div class="input-group mb-3 d-flex flex-nowrap">
                                    <span class="input-group-text">Message</span>
                                    {{ form.message }}
                                </div>

                                <div class="input-group mb-3 d-flex flex-nowrap">
                                    <span class="input-group-text">Recipient</span>
                                    {{ form.recipient }}
                                </div>

                                <div class="d-grid mt-4 pt-1">
                                    <button type="submit" class="btn btn-primary btn-wave">Send Email</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}