{% extends './_base.html' %}
{% load static %}

{% block content %}
<!-- Start::app-content -->
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Page Header -->
        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
            <h1 class="page-title fw-semibold fs-18 mb-0">Notification</h1>
            <div class="ms-md-1 ms-0">
                <nav>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                            <a href="{% url 'admin:dashboard' %}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Notice
                        </li>
                    </ol>
                </nav>
            </div>
        </div>

        <!-- Start:: row-2 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="datatable-basic" data-order='[[ 2, "desc" ]]'
                                class="table table-bordered text-nowrap w-100">
                                <thead>
                                    <tr>
                                        <th>User</th>
                                        <th>Title</th>
                                        <th>Notice</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for notification in notifications %}
                                    <tr>
                                        <td>{{ notification.user.first_name }} {{ notification.user.last_name }}</td>
                                        <td>{{ notification.title }}</td>
                                        <td>{{ notification.description }}</td>
                                        <td>{{ notification.created_at }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End:: row-2 -->
    </div>
</div>
{% endblock content %}