{% extends 'partials/_base.html' %}
{% load static %}

{% block title %}About Us{% endblock title %}


{% block content %}
<header id="featured" class="site-featured">
    <div id="featured-media" class="featured-media has-media">
        <div class="featured-text">
            <div class="container">
                <h2 class="entry-title">Our Company</h2>
            </div>
        </div>
        <video poster="{% static 'img/tmp/sample-header1.jpg' %}" autoplay="" loop="" muted=""
            src="{% static 'img/images/about.mp4' %}" alt=""></video>
    </div>
</header>

<div id="content" class="site-content">
    <main class="site-section section-main">
        <div class="container">
            <div class="row">
                <div class="col-12 pt--4">
                    <p>
                        Options Trades Hub Holdings is a leading Copy Trade, Options and
                        Stocks acquisition and non-operated working interest enterprise
                        focused on identifying untapped value on the behalf of land
                        owners throughout the United States. Established in 2019, we are
                        headquartered in United States with satellite offices in Europe
                        and Asia. Our rapidly growing client list of stock owners and
                        investors stretch across all countries. <br /><br />

                        As a family-owned company, we prioritize capital deployment and
                        asset management projects that directly impact, and benefit,
                        individual stock owners and investors. We combine decades of
                        high-level investment experience with cutting-edge technology,
                        analytically driven financial expertise, and an unwavering
                        commitment to our clients.
                    </p>
                    <br />
                </div>
                <div class="col-12">
                    <p>
                        <iframe style="width: 100%; height: 600px; border-radius: 10px"
                            src="https://www.youtube.com/embed/Gc2en3nHxA4" alt=""></iframe>
                    </p>
                </div>
            </div>

            <h2 class="entry-title">Our Sale and Leasing Process</h2>
            <p>
                We enable investors to earn up to 10% annual yield via high-yield,
                low-risk stocks. Here’s how:
            </p>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="featured-box">
                        <em class="featured-box-icon mdi mdi-weather-sunny"></em>
                        <h5 class="featured-box-title">
                            1. Handpick High-Yield Assets
                        </h5>
                        <p class="featured-box-content">
                            Using powerful proprietary technology, we analyze data and
                            identify the best stocks to strategically target for
                            acquisition.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="featured-box">
                        <em class="featured-box-icon mdi mdi-weather-sunny"></em>
                        <h5 class="featured-box-title">2. Partner with Investors</h5>
                        <p class="featured-box-content">
                            We pool our investors’ capital together to purchase new
                            income-producing mineral assets across the New Zealand.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="featured-box">
                        <em class="featured-box-icon mdi mdi-weather-sunny"></em>
                        <h5 class="featured-box-title">3. Collect Monthly Revenues</h5>
                        <p class="featured-box-content">
                            Each month, oil and gas operators pay out recurring monthly
                            revenues for the lifespan of the mineral royalty asset.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="featured-box">
                        <em class="featured-box-icon mdi mdi-weather-sunny"></em>
                        <h5 class="featured-box-title">
                            4. Pay Out Interest to Investors
                        </h5>
                        <p class="featured-box-content">
                            For the term of the bond, Options TH pays up to 1% daily
                            yields in weekly and monthly payments.. Certain investments
                            also qualify for compounding interest.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="site-section section-video-presentation">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-7 col-lg-9">
                    <h3 class="entry-title">Why Invest With Options TH?</h3>
                </div>
                <div class="w-100"></div>
                <div class="col-12 col-md-6 col-xl-6">
                    <div class="featured-box">
                        <h5 class="featured-box-title">
                            High-Yields in a Low-Yield Market
                        </h5>
                        <p class="featured-box-content">
                            Since 2020, when yields hit historic lows, the yield market
                            has been slow to rebound. Because of our business model and
                            tax structure we are able to offer some of the highest yields
                            on the market today.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-6">
                    <div class="featured-box">
                        <h5 class="featured-box-title">Predictable Monthly Income</h5>
                        <p class="featured-box-content">
                            Our technology allows us to assess and predict the earning
                            potential of each target asset in our portfolio. Once
                            acquired, these assets should continue to generate immediate
                            monthly revenues that allow us to distribute yields to our
                            investors.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-6">
                    <div class="featured-box">
                        <h5 class="featured-box-title">SEC Filed & Privately Hedged</h5>
                        <p class="featured-box-content">
                            This offering is an SEC filed and audited. This type of
                            offering is often referred to as a “mini-IPO” and requires an
                            extensive due diligence and review process by the SEC. Our
                            hedge strategy is reviewed.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-6">
                    <div class="featured-box">
                        <h5 class="featured-box-title">
                            Both Short and Long-Term Notes for Greater Control
                        </h5>
                        <p class="featured-box-content">
                            Investments with Options Trades Hub have 7-days, 14-days and
                            30-days term. This means you can reap high-yield benefits with
                            various term agreements giving you more control over your
                            capital in this fast-changing market.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-section section-team dotted-pattern dotted-pattern-top-right">
        <div class="container">
            <h2 class="entry-title">Our Mission</h2>
            <p>
                The Options TH Operating mission is to tap into the potential of
                unconventional mineral assets across the country. We strive to
                deliver additional value to project stakeholders while bringing
                much-needed energy resources to American consumers.<br /><br />

                Working in New Zealand and beyond, we establish long-lasting,
                mutually beneficial relationships between O&G operators and mineral
                owners to ensure that no hydrocarbons (or hidden value) are left
                behind. In an industry dominated by large E&P companies with Wall
                Street connections, we take pride in a unique, people-oriented
                business model and vision that prioritizes long-term stability for
                employees and land owners alike.
            </p>
        </div>
    </div>
</div>
{% endblock content %}