{% extends 'partials/_base.html' %}
{% load static %}

{% block title %}Contact{% endblock title %}


{% block content %}
<header id="featured" class="site-featured">
    <div id="featured-media" class="featured-media has-media">
        <div class="featured-text">
            <div class="container">
                <h2 class="entry-title">Contact Us</h2>
            </div>
        </div>
        <img src="tmp/sample-header2.jpg" alt="" />
    </div>
</header>

<div id="content" class="site-content">
    <main class="site-section section-main">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <h3>Where is Options Trades Hub</h3>
                    <p>
                        Whether you’re curious about our investment offering, want to
                        speak directly with our team or have a leasing and mineral
                        rights question – we’re here to answer.
                    </p>
                </div>
                <div class="spacing1"></div>
                <div class="col-6 col-lg-4">
                    <div class="featured-box">
                        <em class="featured-box-icon mdi mdi-face-agent"></em>
                        <h5 class="featured-box-title">Address</h5>
                        <p class="featured-box-content"></p>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="featured-box">
                        <em class="featured-box-icon mdi mdi-email-outline"></em>
                        <h5 class="featured-box-title">Email us</h5>
                        <p class="featured-box-content">
                            <a href="cdn-cgi/l/email-protection" class="__cf_email__"
                                data-cfemail="a1c0c5ccc8cfe1ced1d5c8cecfd2d5d3c0c5c4d2c9d4c38fc2cecc">[email&#160;protected]</a>
                        </p>
                    </div>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="featured-box">
                        <em class="featured-box-icon mdi mdi-phone-outline"></em>
                        <h5 class="featured-box-title">Call us</h5>
                        <p class="featured-box-content"></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock content %}