{% extends '../_base.html' %}
{% load static %}

{% block title %}Add or Remove Funds{% endblock title %}

{% block content %}
<div class="main-content app-content">
    <div class="container-fluid">

        <!-- Page Header -->
        <div class="d-md-flex d-block my-4 page-header-breadcrumb">
        </div>
        <!-- Page Header Close -->

        <div class="row mb-5">
            <div class="col-xl-12">
                <h5 class="fw-semibold text-center">Manage User Funds</h5>
                <p class="text-muted text-center col-lg-6 offset-lg-3 pb-3">
                    Use this form to either add or remove funds from the selected user's wallet. Admin users will not be able to use this functionality.
                </p>
            </div>

            <div class="col-xl-6 offset-xl-3">
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="tab-content">

                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} text-center">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}

                            <form method="post">
                                {% csrf_token %}

                                <div class="input-group mb-3 d-flex flex-nowrap">
                                    <span class="input-group-text">Amount</span>
                                    {{ form.amount }}  <!-- Amount input field -->
                                </div>

                                <div class="input-group mb-3 d-flex flex-nowrap">
                                    <span class="input-group-text">Action</span>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" name="action" id="addFunds" value="add" class="form-check-input" required>
                                        <label class="form-check-label" for="addFunds">Add Funds</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="radio" name="action" id="removeFunds" value="remove" class="form-check-input" required>
                                        <label class="form-check-label" for="removeFunds">Remove Funds</label>
                                    </div>
                                </div>

                                <div class="d-grid mt-4 pt-1">
                                    <button type="submit" class="btn btn-primary btn-wave">Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
