<ul class="nav nav-tabs nav-tabs-header mb-0 d-sm-flex d-block" role="tablist">
    <li class="nav-item m-1">
        <a class="nav-link active" role="tab" aria-current="page" href="{% url 'user:profile' %}"
            aria-selected="true">Personal Information</a>
    </li>
    <li class="nav-item m-1">
        <a class="nav-link" role="tab" aria-current="page" href="{% url 'user:change-password' %}"
            aria-selected="true">Password</a>
    </li>
    <li class="nav-item m-1">
        <a class="nav-link" role="tab" aria-current="page" href="{% url 'user:pin' %}" aria-selected="true">Transaction
            Pin</a>
    </li>
    <li class="nav-item m-1">
        <a class="nav-link" role="tab" aria-current="page" href="{% url 'user:wallet' %}" aria-selected="true">Manage
            Wallet</a>
    </li>
    <li class="nav-item m-1">
        <a class="nav-link" role="tab" aria-current="page" href="{% url 'user:referrals' %}"
            aria-selected="true">Referrals</a>
    </li>
</ul>