{% load static %}

{% load static %}
<style>
    .app-sidebar {
        width: 250px;
        transition: transform 0.3s ease, width 0.3s ease;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        z-index: 100;
    }

    /* Default hidden state for small screens - sidebar slides out of view */
    @media (max-width: 768px) {
        .app-sidebar {
            transform: translateX(-100%);
        }
    }

    /* Show class will slide it back into view */
    .app-sidebar.show {
        transform: translateX(0);
    }
</style>



<aside class="app-sidebar sticky" id="sidebar" style="background: #111C43;">
    <div class="main-sidebar-header" style="background: #111C43; border:none;">
        <a href="{% url 'user:dashboard' %}" class="header-logo">
            <img src="{% static 'img/images/logo-light.png' %}" alt="logo" class="desktop-logo">
        </a>
    </div>

    <div class="main-sidebar" id="sidebar-scroll">
        <nav class="main-menu-container nav nav-pills flex-column sub-open">
            <ul class="main-menu">

                <li class="slide__category"><span class="category-name">User</span></li>

                <li class="slide">
                    <a href="{% url 'user:dashboard' %}" class="side-menu__item">
                        <i class="bx bx-layer side-menu__icon"></i>
                        <span class="side-menu__label">Dashboard</span>
                    </a>
                </li>

                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bx-credit-card side-menu__icon"></i>
                        <span class="side-menu__label">Fund Account</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="{% url 'user:deposit' %}" class="side-menu__item">Deposit</a>
                        </li>
                        <li class="slide">
                            <a href="{% url 'user:deposit_history' %}" class="side-menu__item">History</a>
                        </li>
                    </ul>
                </li>

                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bx-add-to-queue side-menu__icon"></i>
                        <span class="side-menu__label">Manage Stock</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="{% url 'user:buy-now' %}" class="side-menu__item">Buy Now</a>
                        </li>
                        <li class="slide">
                            <a href="{% url 'user:invest-history' %}" class="side-menu__item">History</a>
                        </li>
                    </ul>
                </li>

                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bx-add-to-queue side-menu__icon"></i>
                        <span class="side-menu__label">Copy Trade</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="{% url 'user:copy-trade' %}" class="side-menu__item">Copy Trade</a>
                        </li>
                        <li class="slide">
                            <a href="{% url 'user:broker-history' %}" class="side-menu__item">History</a>
                        </li>
                    </ul>
                </li>

                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bx-dollar-circle side-menu__icon"></i>
                        <span class="side-menu__label">Withdraw Fund</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="{% url 'user:withdraw' %}" class="side-menu__item">New Request</a>
                        </li>
                        <li class="slide">
                            <a href="{% url 'user:withdraw_history' %}" class="side-menu__item">History</a>
                        </li>
                    </ul>
                </li>

                <li class="slide__category"><span class="category-name">Account</span></li>

                <li class="slide has-sub">
                    <a href="javascript:void(0);" class="side-menu__item">
                        <i class="bx bx-user-circle side-menu__icon"></i>
                        <span class="side-menu__label">Profile</span>
                        <i class="fe fe-chevron-right side-menu__angle"></i>
                    </a>
                    <ul class="slide-menu child1">
                        <li class="slide">
                            <a href="{% url 'user:profile' %}" class="side-menu__item">View Profile</a>
                        </li>
                        <li class="slide">
                            <a href="{% url 'user:change-password' %}" class="side-menu__item">Manage Password</a>
                        </li>
                        <li class="slide">
                            <a href="{% url 'user:profile' %}" class="side-menu__item">Manage Pin</a>
                        </li>
                        <li class="slide">
                            <a href="{% url 'user:profile' %}" class="side-menu__item">Manage Wallet</a>
                        </li>
                        <li class="slide">
                            <a href="{% url 'user:profile' %}" class="side-menu__item">KYC</a>
                        </li>
                    </ul>
                </li>

                <li class="slide">
                    <form action="{% url 'auth:logout' %}" method="POST" class="dropdown-item d-flex">
                        {% csrf_token %}
                        <button type="submit" class="btn block w-100 side-menu__item text-danger"
                            style="padding: 0; border: none; background: none; cursor: pointer;">
                            <i class="ti ti-logout fs-18 me-2 op-7"></i></i>
                            Logout
                        </button>
                    </form>
                </li>

            </ul>
        </nav>
    </div>
</aside>