{% extends 'user/_base.html' %}
{% load static %}
{% block title %}Deposit{% endblock title %}


{% block extrastyle %}
<style>
    /* Add your custom styles here */
    .payment-option {
        text-align: center;
        margin: 10px;
    }

    .payment-option img {
        height: 200px;
        width: auto;
        margin: 2rem 0;
    }

    .payment-option h4 {
        background: var(--light);
        padding: .7rem;
        color: #fff;
    }

    .payment-option p {
        color: var(--light);
    }

    .payment-option .btn {
        background: var(--light);
    }
    
    .wallet-address-qrcode {
        width: 300px;
        height: 300px;
        object-fit: contain;
        display: block;
        margin: auto;
    }
</style>
{% endblock extrastyle %}

{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <div class="modal fade" id="usdtDeposit" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCenterTitle">Deposit Via USDT</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <img src="{% static 'img/usdt-address.jpeg' %}" alt="" class="wallet-address-qrcode">
                            <div class="col-lg-12 mb-3">
                                <label for="nameWithTitle" class="form-label">Wallet Address</label>
                                <input type="text" id="nameWithTitle" class="form-control" value="TTdRoo9deUzB3ZKWXLLjbQTPBLEJNbVWGv" readonly />
                            </div>
                            <div class="col-lg-12 mb-3">
                                <label for="nameWithTitle" class="form-label">Amount to deposit</label>
                                <input type="text" id="nameWithTitle" class="form-control" placeholder="$10 - $10,000" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="bitcoinDeposit" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCenterTitle">Deposit Via BTC</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <img src="{% static 'img/btc-address.jpeg' %}" alt="" class="wallet-address-qrcode">
                            <div class="col-lg-12 mb-3">
                                <label for="nameWithTitle" class="form-label">Wallet Address</label>
                                <input type="text" id="nameWithTitle" class="form-control" value="3JN3ykBae8hXhq5oANKKTupwSjpo5tyhxP" readonly />
                            </div>
                            <div class="col-lg-12 mb-3">
                                <label for="nameWithTitle" class="form-label">Amount to deposit</label>
                                <input type="text" id="nameWithTitle" class="form-control" placeholder="$1,000 - $10,000" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="cardDeposit" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalCenterTitle">Deposit Via CARD</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col mb-3">
                                <label for="nameWithTitle" class="form-label">Name</label>
                                <input type="text" id="nameWithTitle" class="form-control" placeholder="Enter Name" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card payment-option">
                    <h4>USDT Payment</h4>
                    <img src="{% static 'img/TetherUSDT.png' %}" alt="USDT">
                    <p>Minimum Deposit: $1,000</p>
                    <p>Maximum Deposit: $10,000</p>
                    <p>Processing Time: 1-2 business days</p>
                    <btn class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#usdtDeposit">Deposit Now</btn>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card payment-option">
                    <h4>Bitcoin (BTC)</h4>
                    <img src="{% static 'img/btc.png' %}" alt="BTC">
                    <p>Minimum Deposit: $1,000</p>
                    <p>Maximum Deposit: $10,000</p>
                    <p>Processing Time: 1-2 business days</p>
                    <btn class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#bitcoinDeposit">Deposit Now</btn>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card payment-option">
                    <h4>Card</h4>
                    <img src="{% static 'img/card.png' %}" alt="card">
                    <p>Minimum Deposit: $1,000</p>
                    <p>Maximum Deposit: $10,000</p>
                    <p>Processing Time: 1-2 business days</p>
                    <btn class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cardDeposit">Deposit Now</btn>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}