{% extends 'user/_base.html' %}
{% load static %}

{% block content %}
<div class="main-content app-content">
    <div class="container-fluid text-center">
        <div class="w-50 mx-auto mt-lg-5">
            <h3 class="fw-bold">Withdraw Fund</h3>
            <p class="fs-14 text-gray-7 fw-normal">
                Your withdrawal will be processed automatically.
            </p>
            <p class="text-danger fs-14 text-gray-7 fw-normal">
                Note: You need to set up your three (3) wallet addresses in order for them
                to appear on payment method. Click <a href="" class="text-black">here</a> to set up your wallets
            </p>
            <div class="bg-white p-3 rounded-3">
                <div class="alert alert-danger">
                    <p>Your wallet is empty, please set up your receiving wallet <a href="" class="text-black">here</a>
                        first.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}