{% extends 'user/_base.html' %}
{% load static %}

{% block content %}
<!-- Start::app-content -->
<div class="main-content app-content">
    <div class="container">

        <!-- Page Header -->
        <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
            <h1 class="page-title fw-semibold fs-18 mb-0">Manage Wallet</h1>
            <div class="ms-md-1 ms-0">
                <nav>
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'user:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Wallet</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Page Header Close -->

        <!-- Start::row-1 -->
        <div class="row mb-5">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header d-sm-flex d-block">
                        {% include './_profile_tabs.html' %}
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <form action="" method="post" class="tab-pane show active" id="personal-info"
                                role="tabpanel">
                                <div class="p-sm-3 p-0">
                                    <h6 class="fw-semibold mb-3">
                                        Manage Wallet :
                                    </h6>
                                    <p class="text-danger">Note: Make sure you carefully confirm your crypto
                                        asset wallet address because any funds sent to a wrong crypto wallet
                                        address will not be recovered.</p>
                                    <div class="row gy-4 mb-4">
                                        <div class="col-xl-4">
                                            <label for="btc" class="form-label">Bitcoin Wallet</label>
                                            <input type="text" class="form-control" id="btc" name="btc" value=""
                                                placeholder="Bitcoin wallet">
                                        </div>
                                        <div class="col-xl-4">
                                            <label for="eth" class="form-label">Ethereum Wallet</label>
                                            <input type="text" class="form-control" id="eth" name="eth" value=""
                                                placeholder="Ethereum wallet">
                                        </div>
                                        <div class="col-xl-4">
                                            <label for="usdt" class="form-label">USDT Wallet <span
                                                    class="text-danger">(TRC20 only)</span></label>
                                            <input type="text" class="form-control" id="usdt" name="usdt" value=""
                                                placeholder="USDT (TRC20) wallet">
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="float-end">
                                            <button name="submit" class="btn btn-primary m-1">
                                                Update Wallet
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End::row-1 -->

    </div>
</div>
{% endblock content %}